@inherits DotNetNuke.Web.Mvc.Framework.DnnWebViewPage<IEnumerable<TananyagKovetesRekaEsAHaromBalazs.Dnn.TananyagKovetes.Models.Passes>>

@using System.Text.RegularExpressions
@using DotNetNuke.Web.Mvc.Helpers
@using System.Linq
@using Dnn.Modules.Console



<div id="Items-@Dnn.ModuleContext.ModuleId" style="background-color: #ccaca4;">
    @if (Model.Count() > 0)
    {
        foreach (var item in Model)
        {
            var lefoglaltOrak = item.Quantity - item.LessonsLeft;
            if (item.TimeOfOrder.AddDays(item.Quantity * 5).Date > DateTime.UtcNow.Date)
            {
                <div style="width: 75%;">

                    <div style="float: left; width: 33%; background-color: #f3ebe3;">
                        <div style="height: 150px; margin: auto; ">
                            <p>
                                A bérlet lejár ekkor: <br />
                                @item.TimeOfOrder.AddDays(item.Quantity * 5).ToString("yyyy.MM.dd") <br />
                                Már lefoglalt órák száma:        @lefoglaltOrak  <br />
                                További lefoglalható órák száma: @item.LessonsLeft
                            </p>
                        </div>
                    </div>

                    <div style="float: left; width: 33%; background-color: #f3ebe3; ">
                        <div style="height: 150px;  margin: auto; ">
                            <p> @item.Name</p>
                        </div>
                    </div>

                    <div style="float: left; width: 33%; background-color: #f3ebe3; ">
                        <div style="height: 150px;  margin: auto;">
                            <p>
                                @if (item.LessonsLeft != item.Quantity)
                                {
                                    <a href="@Url.Action("GetSubscriptions", "Item", new {chosenPass = item.ID})">Lefoglalt óráim megtekintése</a>
                                }

                                <br />
                                @if (item.LessonsLeft > 0)
                                {
                                    <a class="btn" href="@Url.Action("GetAvailableLessons", "Item", new {type = item.Type, clickedPassID = item.ID})">Elérhető időpontok megtekintése</a>
                                }

                            </p>
                            
                        </div>
                    </div>

                </div>
            }
            else
            {
                <p> </p>
            }
        }
    }

    @if (Model.Count() <= 0)
    {
        <p>@Dnn.LocalizeString("Úgy látszik nincs aktív bérleted.")</p>
    }
</div>
